@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Cabin";
}

body {
  /* background-color: rgb(15, 13, 13); */
  background-color: #fff;
  font-family: "Cabin";

  /* font-family: "Poppins", sans-serif; */
}
#main {
  background-image: url("bg8.jpg");

  width: 100%;
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  justify-content: space-between;
  margin: 10px;
}

#prof {
  display: inline-block;
  display: flex;
  align-items: center;
  /* padding: 10px; */
  gap: 2rem;
  color: #fff;
}

#prof img {
  max-width: 100px;
}

#prof h2 {
  padding-left: 110px;
}

#nav-list li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

#nav-list li a {
  /* color: #ff7301; */
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px px;
  margin: 5px;
  transition: all 0.3s ease;
}

#nav-list li a:hover {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #ff5500;
  margin: 5px;
  transition: all 0.3s ease;
}

#landing {
  height: 700px;
  grid-template-columns: 1fr 1fr;
  display: grid;
  margin: 10px;
  padding-left: 110px;
}

#landing h1 {
  text-align: center;
  font-size: 56.5px;
  color: #fff;
  text-align: left;
  /* justify-content: center; */
  font-weight: 700;
  display: grid;
  font-family: "Cabin";
  /* font-family: "Bungee"; */
  /* font-family: "Bungee Spice", sans-serif; */
  padding-top: 200px;
  padding-bottom: 90px;
}
#ser-btn {
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  background-color: #ff5500;
  cursor: pointer;
  text-decoration: none;
}

#landing a {
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  padding: 20px 40px;
  background-color: #ff7301;
  margin: 5px;
  transition: all 0.3s ease;
}
#landing a:hover {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 20px 40px;
  background-color: #ff5500;
  margin: 5px;
  transition: all 0.3s ease;
}

#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 110px 150px 90px 100px;
}

#about img {
  width: 90%;
  height: 90%;
}

#about #container {
  padding: 0px 150px 90px 90px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#about h1 {
  font-family: "Cabin";
  color: #ff7301;
  font-size: 50px;
}

#about p {
  font-size: 18px;
  font-family: "Cabin";
  font-weight: 40px;
}

#container #visit {
  /* background-color: red; */
  font-size: 30px;
  color: #ff5500;
  padding: 10px 20px;
  background-color: white;
  text-align: left;
  cursor: pointer;
}

#genres-sec {
  display: flex;
  flex-direction: column;
  margin: 40px;
  gap: 90px;
}

#genres-sec h1 {
  text-align: center;
  font-family: "Cabin";
  color: #ff7301;
  font-size: 50px;
}

#genres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

#genre {
  overflow: hidden;
  transition: all 0.9s ease;
  position: relative;
}

#genre:hover {
  transform: translateY(-20px);
  transition: all 0.9s ease;
}

#genres-sec #genre img {
  width: 300px;
  height: 500px;
  transition: transform 1.5s ease;
  transform: scale(1.2);
  cursor: pointer;
}

#genres-sec #genre img:hover {
  width: 100%;
  height: 100%;
  transition: transform 1.5s ease;
  transform: scale(1.5);
  cursor: pointer;
}

#genre h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: alpha; /* Semi-transparent background */
  color: #fff; /* Text color */
  text-align: center;
  padding: 10px; /* Adjust padding as needed */
  /* box-sizing: border-box; */
}

#genre h1:hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: alpha;
  /* Semi-transparent background */
  color: #fff; /* Text color */
  text-align: center;
  padding: 10px; /* Adjust padding as needed */
  /* box-sizing: border-box; */
}

#genre h1 {
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-family: "Cabin";
  padding: 10px;
}

#missions #about {
  gap: 5rem;
}

#missions #about ul {
  padding-left: 20px;
}

#missions #about li {
  padding: 30px 0px 0px 10px;
  font-size: 18px;
  font-family: "Poppins";
}

#missions #about #explore {
  font-size: 30px;
  color: #ff5500;
  padding: 60px 0px 0px 30px;
  background-color: white;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}

#explore {
  font-size: 100px;
  text-align: center;
  color: #ff7301;
}

#rec-books h2 {
  margin: 10px;
  font-size: 40px;
  color: #ff7301;
  padding: 10px 20px;
  /* border-bottom: 1px dashed #ff7301; */
}

#harry-potter h2 {
  font-size: 40px;
  color: #ff7301;
  padding: 10px 20px;
  /* border-bottom: 1px dashed #ff7301; */
  margin: 10px;
}

#c-s h2 {
  font-size: 40px;
  color: #ff7301;
  padding: 10px 20px;
  /* border-bottom: 1px dashed #ff7301; */

  margin: 10px;
}

#card img {
  width: 250px;
  height: 200px;
  text-align: center;
  padding: 10px;
}

#cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  padding-top: 5px;
  /* padding:10px 20px; */

  border-radius: 10px;
  transition: all 0.3s ease;
  margin: 10px;
}

#card {
  background-color: white;
  max-width: fit-content;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10px 20px;
  margin: 10px;
}

#card:hover {
  background-color: white;
  max-width: fit-content;
  border: 1px black hsl(0, 0%, 80%);
  border-radius: 10px;
  display: flex;
  gap: 2rem;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 10px 20px;
  transition: all 0.3s ease;
}

#card h3 {
  font-size: large;
  color: #ff7301;
}

#card p {
  font-size: 15px;
}

#card button {
  padding: 10px 20px;
  max-width: fit-content;
  text-align: center;
  cursor: pointer;
  font-size: large;
  color: black;
  background-color: white;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

#card button:hover {
  padding: 10px 20px;
  text-decoration: none;
  max-width: fit-content;
  text-align: center;
  cursor: pointer;
  color: white;

  background-color: #ff7301;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.read-btn {
  transition: all 0.3s ease;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.read-btn:hover {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff7301;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

#contact {
  margin: 10px;
  text-align: center;
  color: #ff7301;
  font-size: 50px;
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 3rem;
  padding: 20px 20px;
  /* border-radius: 10px; */
  background-color: #252525;
  /* margin: 10px; */
}

footer .column h4 {
  color: #ff7301;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2rem;
  gap: 3rem;
  /* padding-bottom: 2rem; */
}

footer .column .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .socials a {
  color: #fbe3d1;
  /* border: 1px solid #ccc; */
  padding: 9px 1px;
  margin: 5px;
  border-radius: 100%;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  text-decoration: none;
}

footer .socials a:hover {
  /* border-color: #252525; */
  background-color: #252525;
  color: #ff7301;
}

footer .column a {
  display: block;
  color: #e4c4b4;
  text-decoration: none;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

footer .column a:hover {
  color: white;
}

.copyright {
  padding-top: 10px;
  max-width: 1300px;
  color: #252525;
  margin: auto;
  text-align: center;
  font-size: 0.8rem;
}
